about.html 
src/*  
!src/style.css
.DS_Store
*.zip
password.txt

# src/* => this mean igonre all files inside src folder 
# !src/style.css => ignore only style.css from src folder
# .DS_Store ignore this shit
